.about {
  position: relative;
  padding: 10px 25px 130px;
  flex-wrap: wrap;
  gap: 100px;
  background: $clr1;
  min-height: calc(100vh - 80px);
  z-index: 5;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 30px), 0 100%);

  @include for-normal-layout {
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 70px), 0 100%);
    padding: 10px 25px 90px;
    padding: 0px 25px 80px;
  }

  .top {
    max-width: 1160px;
    flex-direction: column;

    @include for-normal-layout {
      gap: 20px;
      flex-direction: row;
    }

    .left {
      flex: 1;
      padding-bottom: 40px;

      @include for-normal-layout {
        padding: 0;
      }

      h3 {
        font-size: clamp(rem(24px), 2vw, rem(32px));
        margin-bottom: 9px;
      }

      h1 {
        font-family: $font-sb;
        font-size: clamp(rem(32px), 3.4vw, rem(62px));
        margin-bottom: 32px;
        line-height: 1;
      }

      p {
        font-size: clamp(rem(19px), 1.25vw, rem(26px));
        margin-bottom: 32px;
      }
    }

    .right {
      .photo {
        position: relative;
        max-width: 300px;

        @include for-normal-layout {
          max-width: 400px;
        }

        img {
          opacity: 0.4;
        }

        .circle {
          position: absolute;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          bottom: -75px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 5;

          .text {
            font-family: $font-sb;
            position: absolute;
            width: 100%;
            height: 100%;
            animation: rotateText 10s linear infinite;

            span {
              position: absolute;
              left: 50%;
              font-size: 1.2rem;
              transform-origin: 0 75px;
            }
          }
        }
      }
    }
  }

  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.social {
  font-size: clamp(rem(19px), 1.25vw, rem(26px));

  span {
    margin-right: 20px;
  }

  svg {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
    .cls-1 {
      fill: $clr2;
    }
    .cls-2 {
      fill: $clr1;
    }
    .cls-5 {
      fill: $clr1;
    }
  }
}
