.about {
  position: relative;
  padding: 10px 25px 100px;
  gap: 100px;
  min-height: calc(100vh - 80px);
  width: min(100%, 1440px);
  flex-direction: column;

  @include for-normal-layout {
    padding: 10px 25px 90px;
    padding: 0px 25px 80px;
    flex-wrap: wrap;
    gap: 5vw;
    flex-direction: row;
  }

  .left {
    flex: 2;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-normal-layout {
      padding: 0;
    }

    h3 {
      font-size: clamp(rem(24px), 2vw, rem(40px));
      margin-bottom: 9px;
    }

    h1 {
      font-weight: 500;
      font-family: $montserrat;
      font-size: clamp(rem(32px), 5vw, rem(64px));
      margin-bottom: 32px;
      line-height: 1;
    }

    p {
      font-size: clamp(rem(19px), 1.25vw, rem(26px));
      margin-bottom: 32px;
    }
  }

  .right {
    flex: 1;
    .photo {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: white;
        z-index: -1;
        box-shadow: inset 0 0 20px 8px #2865f080;
        box-sizing: border-box;
      }

      img {
        translate: 0 5px;
      }
    }
  }

  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.social {
  font-size: clamp(rem(19px), 1.25vw, rem(26px));

  span {
    margin-right: 20px;
  }

  svg {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
    .cls-1 {
      fill: $clr2;
    }
    .cls-2 {
      fill: $clr1;
    }
    .cls-5 {
      fill: $clr1;
    }
  }
}
