.contact {
  background: $clr2;
  width: 100%;
  height: calc(100vh - 100px);
  color: $clr1;
  padding: 50px 0;
  position: relative;

  @include for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
      width: 100vw;
    }
  }

  ::-moz-selection {
    color: $clr2;
    background: $clr1;
  }
  ::selection {
    color: $clr2;
    background: $clr1;
  }

  .container {
    position: fixed;
    bottom: 25px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    gap: 100px;
    text-align: center;

    .massage {
      h4 {
        font-size: clamp(rem(36px), 5vw, rem(64px));
        padding: 0 25px;
      }

      h3 {
        font-size: clamp(rem(40px), 5vw, rem(72px));
        font-family: $font-b;
        padding-bottom: 40px;
      }

      button {
        font-family: $font-sb;
        font-size: clamp(rem(18px), 5vw, rem(36px));
        background: $clr1;
        color: $clr2;
        border-radius: 25px;
        padding: 10px 25px;
      }
    }

    .social {
      .links {
        gap: 15px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
