.contact {
  color: $clr2;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: $clr1;
  padding: 50px 0;
  position: relative;

  @include for-normal-layout {
    height: calc(100vh - 80px);
  }

  ::-moz-selection {
    background: $clr2;
    color: $clr1;
  }
  ::selection {
    background: $clr2;
    color: $clr1;
  }

  .container {
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    gap: 100px;
    text-align: center;

    .massage {
      h4 {
        font-size: clamp(rem(36px), 5vw, rem(64px));
        padding: 0 25px;
      }

      h3 {
        font-size: clamp(rem(40px), 5vw, rem(72px));
        font-family: $font-b;
        padding-bottom: 40px;
      }

      button {
        font-family: $font-sb;
        font-size: clamp(rem(18px), 5vw, rem(36px));
        color: $clr1;
        background: $clr2;
        border-radius: 25px;
        padding: 10px 25px;
      }
    }
  }
}
.social {
  gap: 10px;
  .links {
    gap: 20px;
    a {
      text-decoration: underline;
    }
  }
}
