header {
  height: 100px;
  border-bottom: 2px solid $clr2;
  font-size: rem(18px);
  width: 100vw;
  background: $clr1;
  margin-bottom: 50px;
  position: sticky;
  top: 0px;
  z-index: 10;

  span {
    font-family: plex-semibold;
  }

  nav {
    margin: 0 auto;
    padding: 0 25px;

    .burger-menu {
      display: block;

      @include for-normal-layout {
        @media (min-width: $narrow-breakpoint) {
          display: none;
        }
      }
    }

    .nav {
      gap: 80px;
      display: none;

      @include for-normal-layout {
        @media (min-width: $narrow-breakpoint) {
          display: flex;
        }
      }
    }
  }
}
