header {
  height: 80px;
  font-size: rem(18px);
  width: 100%;
  background: $clr1;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 15;
  backdrop-filter: blur(5px);
  font-family: $font-b;

  span {
    font-size: clamp(rem(20px), 2vw, rem(26px));
  }

  nav {
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
    width: 100%;

    .burger-menu {
      display: block;

      @include for-normal-layout {
        @media (min-width: $narrow-breakpoint) {
          display: none;
        }
      }
    }

    .nav {
      gap: 60px;
      display: none;
      height: 100%;

      @include for-normal-layout {
        @media (min-width: $narrow-breakpoint) {
          display: flex;
        }
      }

      .tab {
        height: 100%;
        display: flex;
        align-items: center;

        &.projects-hover {
          &:hover {
            .dropdown-container {
              display: block;
            }
          }
        }

        .projects {
          height: 100%;
        }

        .dropdown-container {
          display: none;
          width: calc(100vw - 17px);
          height: 100%;
          position: fixed;
          bottom: calc(-100%);
          left: 0;
          background: $clr1;
          // outline: 2px solid $clr2;
          outline-width: 0 0 2px 0;
          .dropdown {
            height: 100%;
            margin: 0 auto;
            padding: 0px 25px;
            justify-content: flex-end;
            gap: 60px;
          }
        }
      }
    }
  }
}
