.section-header {
  font-family: $font-sb;
  padding-bottom: 50px;
  font-size: clamp(rem(24px), 5vw, rem(32px));
  z-index: 2;
}

.project {
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;

  @include for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
      flex-direction: row;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }

  .project-info {
    flex: 1;

    h5 {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    h2 {
      font-family: $font-b;
      margin-bottom: 20px;
      font-size: clamp(rem(24px), 2vw, rem(32px));
    }

    .desc {
      font-size: clamp(rem(14px), 1vw, rem(18px));
      flex: 1;
    }

    .skills-used {
      gap: 25px;
      margin: 20px 0;

      svg {
        height: 50px;
      }
    }

    .project-actions {
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  .thumbnail {
    flex: 1;
  }
}
