.skills {
  background: $clr2;
  z-index: 2;
  position: relative;
  height: 300px;

  .section-header {
    font-family: poppins-bold, sans-serif;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-size: clamp(rem(24px), 5vw, rem(62px));
    z-index: 2;
    color: $clr1;
    background: transparent;
    position: absolute;
    top: 0;
    left: 17vw;
    width: 50vw;
  }
  .skills-container {
    width: 100vw;
    margin: 0 auto;
    @include for-normal-layout {
      max-width: 760px;
    }
  }
}

.skill-container {
  svg {
    height: 40px;

    @include for-normal-layout {
      height: 50px;
    }
  }
}
