.app {
  main {
    > section:not(:last-child) {
      z-index: 2;
      &:not(:first-child) {
        padding-bottom: 250px;
      }
    }
  }
  .modal {
    z-index: 10;
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s ease-out;
    background-color: $clr1;
    backdrop-filter: blur(0px);
    // opacity: 0.8;

    &.open {
      display: block;
      background-color: rgba(41, 101, 241, 0.7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(8px);
    }
  }

  .menu-modal {
    font-size: rem(28px);
    font-family: $font-b;
    text-transform: capitalize;
    height: 100%;
  }
}
