.app {
  background: inherit;
  main {
    width: 100%;
    position: relative;
    background: $clr2;
    > section:not(:last-child) {
      z-index: 2;
    }
  }
  .menu-modal {
    position: fixed;
    inset: 0;
    background-color: $clr1;
    font-size: rem(28px);
    font-family: $font-b;
    text-transform: capitalize;
    height: 100%;
    gap: 60px;
    z-index: 10;
  }
}

#root {
  background: inherit;
}
