.app {
  main {
    > section:not(:last-child) {
      z-index: 2;
      &:not(:first-child) {
        padding-bottom: 250px;
      }
    }
  }
  .menu-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(41, 101, 241, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(8px);
    font-size: rem(28px);
    font-family: $font-b;
    text-transform: capitalize;
    height: 100%;
    gap: 60px;
    z-index: 10;
  }
}
