@font-face {
  font-family: poppins-bold;
  src: url(../../fonts/poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: plex-regular;
  src: url(../../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: plex-semibold;
  src: url(../../fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf);
}
@font-face {
  font-family: plex-bold;
  src: url(../../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

@font-face {
  font-family: sans-regular;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: sans-semibold;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: sans-bold;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: code-regular;
  src: url(../../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}
@font-face {
  font-family: code-semibold;
  src: url(../../fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf);
}
@font-face {
  font-family: code-bold;
  src: url(../../fonts/Source_Code_Pro/SourceCodePro-Bold.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: roboto-semibold;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
